node_modules

__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.env
*.log
*.sqlite3
.DS_Store
.vscode/
.idea/
*.egg-info/
dist/
build/
*.bak
*.swp
*.swo
*.tmp
*.coverage
htmlcov/
.mypy_cache/
.cache/
*.db
*.tar.gz
*.zip
*.egg
*.out
*.test